.sidetab {
    margin: 0.8vh;
    padding: 1vh;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.sidetab:hover {
    cursor: pointer;
    background-color: rgba(174, 213, 248, 0.534);
    box-shadow: 2px 10px 50px rgba(14, 165, 233, 0.15);
    border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;
    transform: translateX(0.5vh);
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
}

.sidelist {
    flex: 1;
}

.profile {
    margin-top: auto;
}
